body {
    background-color:#fffdfb;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

* {
    font-family:"Overpass",Helvetica,Arial,sans-serif;
}

h2.sectionheading {
    display:inline;
    font-weight:700;
}

.portfolio-item {
    width:calc(33% - 30px);
    margin-left:30px;
    padding:6px;
    float:left;
    display:inline-block;
    background:black;
}

.portfolio-item:first-child {
    margin-left:0;
}

.portfolio-item img {
    width: calc(100% + 6px);
    margin: -3px;
}

.portfolio-item a {
    color:white;
    text-decoration:none;
}

.portfolio-link {
    font-size:1.2rem;
    font-weight:700;
    line-height: 1.1;
    display:block;
}

.portfolio-dateline {
    color:gray;
    font-size:1rem;
    line-height: 1;
    display: block;
}