/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
	color:#4a3cb4;
	text-decoration:none;
	font-weight:bold;
    cursor:pointer;
}

/*a:visited {
	color:#80A8BE;
}*/

a:hover, a:active {
	color:#222;
    border-bottom: 1px #222 dotted;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 18px/28px Helvetica Neue, Helvetica, Arial;
    color:#222;
    margin:0;
}

h1 {
	font-size:3em;
    line-height:2.2em;
    text-align:center;
    margin-top:0px;
    color:#fff;
    font-family:'Raleway', sans-serif;
    font-weight:900;
    text-transform:uppercase;
}

h3 {
    font-size:1.8em;
    line-height: 1em;
    font-family:'Raleway', sans-serif;
    font-weight:900;
}

header, footer {
    background: rgba(74,60,180,1);
    background: -moz-linear-gradient(-45deg, rgba(74,60,180,1) 0%, rgba(222,62,179,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,60,180,1)), color-stop(100%, rgba(222,62,179,1)));
    background: -webkit-linear-gradient(-45deg, rgba(74,60,180,1) 0%, rgba(222,62,179,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(74,60,180,1) 0%, rgba(222,62,179,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(74,60,180,1) 0%, rgba(222,62,179,1) 100%);
    background: linear-gradient(135deg, rgba(74,60,180,1) 0%, rgba(222,62,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a3cb4', endColorstr='#de3eb3', GradientType=1 );
}

footer {
    color:#fff;
    min-height:60px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width:1000px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#portfolio {
	margin:0 0 0 -1.33%;
}

.portfolio-item {
	width:32%;
	float:left;
	margin:0 0 15px 1.33%;
    height:250px;
}

.portfolio-item img {
	width:100%;
	border:2px solid;
}

.portfolio-item span {
	text-align:center;
	display:block;
}

.portfolio-link a {
	font-weight:bold;
	font-size:22px;
	text-decoration:none;
}

.portfolio-dateline {
	font-size:0.8em;
	line-height:1em;
	color:#999;
}

footer {
	text-align:right;
    font-family:'Raleway', sans-serif;
    font-weight:500;
}

footer a {
    color:#fff;
}

footer span {
    display:block;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 992px) {
	
}

@media only screen and (max-width: 991px) {
	.portfolio {
		margin:0 0 0 -2%;
	}

	.portfolio-item {
		width:48%;
		float:left;
		margin:0 0 15px 2%;
		height:220px;
	}
}

@media only screen and (max-width: 767px) {
	h1 {
        font-size: 1.7em;
        line-height: 2.7em;
	}

    h3 {
        font-size:1.3em;
    }
	
	.wrapper {
		width:90%;
	}
	
	#portfolio {
		margin:0;
	}

	.portfolio-item {
		width:100%;
		float:left;
		margin:0 0 30px 0;
		height:inherit;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
