body {
    background-color:#faf9f4;
}

* {
    font-family:"Overpass",Helvetica,Arial,sans-serif;
    max-width:1170px;
    margin:0 auto;
}

h2.sectionheading {
    display:inline;
    font-weight:700;
}