body {
  font-family: "National HBR", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 580px;
  margin:0;
  padding:0;
  font-size:15px;
}

#column1 {
	width:45%;
	display:inline;
	float:left;
}

#column2 {
	width:58%;
	display:inline;
}

/* focuses */
#focusbox {
	padding:0 20px;
}

#focusbox ul {
	margin: 0 0 10px 0;
	padding: 0 16px;
}

.focusheader {
	margin:0 0 5px 0;
	font-weight:bold;
	padding:8px;
}

#focus1 {
	background-color:#fff;
	color:#fb6405;
}

#focus2 {
	background-color:#fff;
	color:#25c624;
}

#focus3 {
	background-color:#fff;
	color:#0284fd;
}

/* menu */
form {
	text-align:center;
	width:100%;
	margin:11px 0 0 0;
	height:40px;
}

#menu label a {
	width: 33%;
	background-color:#e6e6e6;
	display: inline;
	margin: 5 10px 5px;
	padding:10px;
	text-align: center;
}

.menuSelected {
	background-color:#646464;
	font-weight:bold;
	color: #fff;
}

/* pie plate */
#pieplate {
	display:block;
	text-align:center;
	margin:0 0 10px 0;
}

/* infoboxes */
#infoContainer {
	width:25%;
	margin:5px;
	float:left;
}

#info2, #info3, #results2, #results3 {
	display:none;
}

.infobox ul, .resultsbox ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.infobox ul li, .resultsbox ul li {
	margin:0 0 5px 0;
}

.resultsCat {
	display:block;
	font-weight:bold;
}

#resultsContainer {

}