body {
  font-family: "helvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 580px;
  margin:0;
  padding:0;
  font-size:14px;
}

#column1 {
	width:40%;
	display:inline;
	float:left;
}

#column2 {
	width:58%;
	display:inline;
}

/* focuses */
#focusbox {
	padding:0 20px;
}

#focusbox ul {
	margin: 0 0 10px 0;
	padding: 0 16px;
}

.focusheader {
	margin:0 0 5px 0;
	font-weight:bold;
	color:#fff;
	padding:10px;
}

#focus1 {
	background-color:#f68b1f;
}

#focus2 {
	background-color:#39b54a;
}

#focus3 {
	background-color:#2772b2;
}

/* menu */
form {
	text-align:center;
	width:100%;
	margin:11px 0 0 0;
	height:40px;
}

#menu label a {
	width: 33%;
	display: inline;
	margin: 0 10px 5px;
	padding:10px;
	text-align: center;
}

.menuSelected {
	border-bottom:5px solid #aaa;
	font-weight:bold;
}

/* pie plate */
#pieplate {
	display:block;
	text-align:center;
	margin:0 0 10px 0;
}

/* infoboxes */
#infoContainer {
	width:28%;
	float:left;
}

#info2, #info3, #results2, #results3 {
	display:none;
}

.infobox ul, .resultsbox ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.infobox ul li, .resultsbox ul li {
	margin:0 0 5px 0;
}

.resultsCat {
	display:block;
	font-weight:bold;
}

#resultsContainer {

}