@import 'global.scss';

#about {
    background-color: $black;
    color: $gray1;
    padding:5rem 0 0 0;

    .about__image-container {
        order: 1;
    }

    > .container {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 1fr 200px;
    }

    img {
        width:200px;
        margin:0 auto;
        display:block;
        border:7px solid $gray1;
        border-radius:110px;
    }

    .container {
        max-width:900px;
    }

    .about__text {
        padding:10px;
    }



}
