@import 'global.scss';

#facts {
    display:block;
    width:100%;
    margin:1rem 0 3rem;
    padding:0;
}

#facts-container {
    display: grid;
      grid-template-columns: 50% calc(50% - 15px);
      grid-gap: 15px;

      @media (min-width:768px) {
          grid-template-columns: 22% 22% 22% 28%;
          grid-gap: 2%;
      }
}

#facts h3 {
    text-transform:uppercase;
    color: #777;
    font-size:0.8rem;
}

#facts span {
    font-size:1.2rem;
    font-weight:bold;
}

#facts-container {
    display: grid;
}
