@import 'global.scss';

footer {
    background-color:$black;
    padding:0.5rem 0 2rem;
}

.footer-content {
    background-color: $black;
    color: $gray1;
    margin: 0 auto 0 auto;
    font-size:0.75rem;

    a {
        color: $gray1;
    }
}
