@import 'global.scss';

footer {
    background-color:$navy;

    padding:0 0 4rem;
}

.footer-content {
    background-color: $navy;
    color: $gray1;
    margin: 0 auto 0 auto;
    font-size:0.75rem;
    text-align:center;

    a {
        color: $gray1;
    }
}
