@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html, body {
    background-color: #fdfeec;
    margin-bottom:5rem;
}

body {
    max-width:900px;
    margin:0 1rem;
    font-family: 'Overpass', sans-serif;

}

h1 {
    font-size:3rem;
}

p {
    font-size:1.25rem;
}

a {
    font-weight:800;
    text-decoration:none;
    border-bottom:2px dotted black;
    color:black;
}

a:hover, a:active {
    color:#262f0f;
    border-bottom:2px dotted #262f0f;
}

header#nav ul {
    text-align: right;
}

header#nav ul li {
    display:inline;
    list-style-type: none;
    margin-left:1rem;
}

header#nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

footer {
    margin: 2rem auto;
}

img.hero {
    width: calc(100% + 2rem);
    margin: 0 0 0 -1rem;
    float:unset;
}

@media screen and (min-width:768px) {
    body {
        margin:0 auto;
    }

    img.hero {
        width: 66%;
        float:left;
        margin-right: 34%;
        margin-bottom:3rem;
    }

    div.herotext {
        position: absolute;
        top: 100px;
        right: 5%;
        width: 80%;
        max-width:700px;
        text-align:right;
    }

    div.herotext > * {
        display:inline-block;
        background-color: #fdfeec;
    }
}
