@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;700&display=swap');

$navy: #142c42;
$teal: #289183;
$orange: #d04b10;

$gray1: #fefef3;
$gray2: #A5ABB1;
$gray3: #767D83;
$gray4: #55595C;


html, body {
    background-color: $gray1;
    overflow-x: hidden;
}

body {
    font-family: 'Overpass', sans-serif;
    margin:0;
    padding:0;
}

.container {
    margin:0 auto;
    padding:0 15px;
    @media (min-width: 768px) {
        max-width:1200px;

    }
}

.section-top-border {
    width: 3rem;
    height: 0.75rem;
    margin: 3rem 0 0 -1rem;
    display: inline-block;
    background-color: #d04b10;
    position: relative;
    top: -2rem;
    left:1rem;
    transform: skewY(-10deg);

    @media (min-width: 768px) {
        margin: 0 0 0 -1rem;
    }
}

h1, h2 {
    font-size:3rem;
    line-height:3.25rem;
    margin:0 0 1rem 0;
    padding-top:0.5rem;
    display:inline;
}

p {
    font-size:1.25rem;
}

span.hide {
    display:none;
}



a {
    font-weight:800;
    text-decoration:none;
    border-bottom:4px solid $teal;
    color:black;
}

a:hover, a:active {
    color: $gray1;
    background-color: $teal;
    border-top:4px solid $teal;
}

li {
    line-height: 1.6rem;
    margin-bottom: 0.5rem;
}


.triangle-top {
    width: 0;
    overflow: hidden;
    height: 0;
    border-style: solid;
    border-width: 30px 100vw 0 0;
    border-color: $gray1 $navy transparent transparent;
    margin-top:3rem;
}

.triangle-bottom {
    width: 0;
    overflow: hidden;
    height: 0;
    border-style: solid;
    border-width: 30px 100vw 0 0;
    border-color: $navy $gray1 transparent transparent;
}
