@import 'global.scss';

#hero {
    background-color: $navy;
    color: $gray1;

    padding:1.5rem 0 0 0;

    img {
        width:300px;
        max-width: calc(100% - 45px);
        margin:0 auto;
        display:block;
        border:10px solid $gray1;
        @media (min-width: 768px) {
            width:calc(100% - 20px);
            max-width: calc(100% - 20px);
        }
    }

    .container {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 300px auto;
            grid-gap: 40px;
        }
    }

    .herotext {
        padding:10px;
    }



}
