@import 'global.scss';

#hero {
    background-color: $navy;
    color: $gray1;

    padding:5rem 0 0 0;

    img {
        width:100%;
    }

    .container {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 40% 60%;
        }
    }

    .herotext {
        padding:10px;
    }



}
