@import 'global.scss';

#hero {
    background-color: $navy;
    color: $gray1;

    padding:5rem 0 0 0;

    img {
        width:200px;
        margin:0 auto;
        display:block;
        border:7px solid $gray1;
        border-radius:110px;

        @media (min-width: 768px) {

        }
    }

    .container {
        max-width:900px;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 225px auto;
            grid-gap: 40px;
        }

        div:first-child {
            @media (max-width: 767px) {
                float: right;
                margin: 10px 0 1rem 0;
                width: calc(28% + 0.25rem);

                img {
                    width:100%;
                    border-radius:calc(100%);
                    border:4px solid $gray1;
                    margin:0;
                }
            }
        }
    }

    .herotext {
        padding:10px;
    }



}
