@import 'global.scss';

div.portfolio-section {
    border-bottom: 1px solid black;
    padding: 0;

    h3 {
        margin: 0.75rem 0;

        &:before {
            content: '+';
            display: inline-block;
            margin-right: 0.5rem;
            text-align: center;
            width: 0.75rem;
        }
    }

    &.open {
        h3:before {
            content: '-';
        }
    }
}

div.portfolio__card-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 25px 25px; 
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 25px;
    }

    &.open {
        max-height: 1500px;
        height: inherit;
        padding-bottom: 25px;
        transition: all 0.4s ease-in-out;
    }
}

a.portfolio-card__link {
    border: none;
    height: fit-content;

    &:hover, &:active {
        border: none;

        div.portfolio-card {
            height: fit-content;
            background-color: darken($blue, 16%);
        }
    }
}

div.portfolio-card  {
    height: fit-content;
    font-size:1rem;
    line-height:1.25rem;
    text-decoration: none;
    color: $black;
    cursor: pointer;
    padding:8px 8px 16px 8px;
    background-color: darken($blue, 8%);
    border: none;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 10px;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;

    @media (min-width: 500px) {
        grid-template-columns: 50% 1fr;
    }

    @media (min-width: 768px) {
        display: block;
    }

   img {
       width:calc(100%);
       grid-area: 1 / 1 / 3 / 2;
   }
   
   &__title {
    grid-area: 1 / 2 / 2 / 3;
   }

   &__subhed {
       font-size:0.75rem;
        grid-area: 2 / 2 / 3 / 3;
       line-height:1.1rem;
       font-weight:300;
   }

   .blurb {
       display: none;
       font-weight: normal;
       font-size:1rem;
   }
}