#colsContainer {
    width: 100%;
    margin: 2em auto;
    /* position: relative;
    top: 150px; */
}

.cols {
    -webkit-column-count:2;
    -webkit-column-gap: 3%;
    -webkit-column-width: 48.5%;
    column-count: 2;
    column-gap: 3%;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.cols img {
    width:100%;
}

div.portfolio-card {
    margin-bottom: 3rem;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.portfolio-card {
    /* text-transform: uppercase; */
    font-weight: 700;
    cursor: pointer;
    font-size:1.2rem;
    line-height:1.5rem;
}

.portfolio-card .subhed {
    font-size:0.75rem;
    line-height:1.1rem;
    font-weight:300;
}

.portfolio-card a {
    font-size:1rem;
    line-height:1.2rem;
    text-decoration: none;
    color: #fdfeec;
    cursor: pointer;
    margin-bottom: 3rem;
    display:block;
    padding:8px 8px 16px 8px;
    background-color:#000;
    border: none;
}

.portfolio-card a:hover {
    color: #fdfeec;
    border: none;
    box-shadow: 0px 0px 8px black;
}

@media screen and (min-width: 600px) {
    .portfolio-card a {
        font-size:1.05rem;
        line-height:1.3rem;
    }

    .cols {
        -webkit-column-count:3;
        -webkit-column-gap: 2%;
        -webkit-column-width: 32%;
        column-count: 3;
        column-gap: 2%;
    }
}

@media screen and (min-width: 825px) {
    .portfolio-card a {
        font-size:1.05rem;
        line-height:1.3rem;
    }

    .cols {
        -webkit-column-count:4;
        -webkit-column-gap: 2%;
        -webkit-column-width: 23.5%;
        column-count: 4;
        column-gap: 2%;
    }
}
