@import 'global.scss';

#nav {
    background-color: $navy;
    text-align:right;

    ul {
        margin:0;
        padding:1rem 0;

        li {
            display:inline;
            margin:0 0 0 2rem;
        }
    }

    a {
        color: $gray1;
        text-decoration:none;
        border-bottom: 0;
        text-transform: uppercase;
    }

    a:hover {
        background-color:unset;
        color:$gray2;
        border-top:0;
    }
}
