@import 'global.scss';

#nav {
    text-align:right;
    position:fixed;
    width:100%;
    z-index:10;

    .backdrop {
        background-color: $nav-bg;
    }


    ul {
        margin:0;
        padding:0.5rem 0;

        li {
            display:inline;
            padding:1rem;
        }
    }

    a {
        color: $gray1;
        text-decoration:none;
        border-bottom: 0;
        text-transform: uppercase;
    }

    a:hover {
        background-color:unset;
        color:$gray2;
        border-top:0;
        transition: 0.2s;
    }
}
