@import '../../scss/variables.scss';

.Navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  font-family: $body-font;
  justify-content: space-between;
  padding: 16px 16px;

  header {
    h1 {
      color: $wheat;
      font-weight: $font-bold;
      margin: 0;
    }
  }

  .container {
    padding: 10px;

    button {
      background-color: transparent;
      border: none;
      
      svg {
        stroke: $wheat;
        scale: 3;
      }
    }
  }
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  width: 100%;
  pointer-events: none;
  transition: height 0.3s ease;

  &.open {
    height: 75px;
    pointer-events: auto;
  }

  li {
    background-color: #333;
    margin-right: 20px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: wheat;
      text-decoration: none;
    }
  }
}