@import '../../scss/variables.scss';

.navbar {
  background-color: #333;
  color: #fff;
  font-family: $body-font;
  padding: 1.5rem 1rem 1rem;

  @media screen and (min-width: 768px) {
    display: block;
    padding: 2.5rem 3rem;
    width: calc(100% - 6rem);
  }

  &__title-container {
    display: flex;
    justify-content: space-between;

    header {
      h1 {
        color: $wheat;
        margin: 0;

        @media screen and (min-width: 768px) {
          font-size: 3rem;
          text-align: right;
        }
      }
    }

    button {
      background-color: transparent;
      border: none;

      @media screen and (min-width: 768px) {
        display: none;
      }
      
      svg {
        stroke: $wheat;
        scale: 3;
      }
    }
  }

  &__menu-container {
    margin-top: 0.5rem;

    @media screen and (min-width: 768px) {
      margin-top: 1.5rem;
    }

    .menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: block;
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      width: 100%;
      pointer-events: none;
      transition: max-height $transform-speed ease;

      @media screen and (min-width: 768px) {
        display: block;
        max-height: unset;
        text-align: right;
        pointer-events: unset;
      }

      &.open {
        background-color: #333;
        max-height: 75px;
        pointer-events: auto;
      }

      li {
        background-color: #333;
        margin: 0;
        padding: 0 0 8px;
        width: 100%;

        @media screen and (min-width: 768px) {
          font-size: 1.5rem;
          line-height: 1.5;
          margin: 0 0 1.5rem;
          padding: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $wheat;
          text-decoration: none;
          text-transform: uppercase;
        }

        &.socials {
          display: flex;
          justify-content: flex-end;

          a {
            margin-left: 1.5rem;
          }

          svg {
            position: relative;
            right: 3px;
            top: 3px;
            scale: 1.33;
          }
        }
      }
    }
  }
}
