@import '../../scss/variables.scss';

footer {
  display: flex;
  justify-content: center;
  margin: 3rem 0 1rem;

  @media screen and (min-width: 768px) {
    display: none;
  }

  a {
    border: 0;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    border: 0;
    height: 1.75rem;
    width: 1.75rem;
  }
}