@use 'sass:color';
@import '../../scss/variables.scss';

#Title {
    h1 {
        font-size: 4.5rem;
        font-weight: $font-extrabold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: inline-block;
            text-transform: uppercase;
            font-weight: $font-extrabold;
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 1.5px solid black;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }
    }
}
