@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@plugin 'flowbite/plugin';
@source "../node_modules/flowbite-svelte/dist";

@plugin "@iconify/tailwind4";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: 'Helvetica Neue', sans-serif;
  /* --font-body: 'Inconsolata', sans-serif; */
  
  --color-beige: #f2f1ed;
  
}

@layer base {
  * {
    @apply font-body;
    letter-spacing: -0.01rem;
  }

  h2:not(.group) {
    @apply text-2xl font-bold mt-10
  }

  p {
    @apply mt-5 font-body
  }

  a {
    @apply text-green-800 hover:text-green-950;
  }

  .content a {
    @apply underline;
  }
}

html {
    @apply bg-stone-100;
    min-height: 100.5vh;
}