$black: #000;
$white: #fff;
$wheat: #f7f1e7;

$serif: 'Merriweather', serif;
$sans-serif: 'Rubik', sans-serif;

$body-font: $sans-serif;

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$transform-speed: 0.25s;