$black: #232424;
$white: #fff;
$wheat: #f7f4f0;

$pearl: #E7E1C6;
$teal: #0F5358;
$orange: #F56720;

$color-light: $pearl;
$color-mid: $orange;
$color-dark: $teal;

$serif: 'Garamond', serif;
$sans-serif: 'Rubik', sans-serif;

$body-font: $sans-serif;
$heading-font: 'Rubik Mono One';

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 900;

$link-color: $teal;

$transform-speed: 0.25s;