@import '../../scss/variables.scss';

.accordion-item {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all $transform-speed ease;

  &__heading {
    .item-toggle {
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;

      &__text {
        text-align: left;

        h3 {
          margin: 0;
          font-size: 1.25rem;
        }

        span {
          color: #595959;
          display: block;
          font-size: 0.95rem;
          font-weight: 400;
          line-height: 1.25;
        }
      }

      svg {
        fill: #333;
        scale: 2;
        position: relative;
        right: 0.33rem;
        top: 0.33rem;
        transition: transform $transform-speed ease-in-out;

        .accordion-item.open & {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__content {
    display: block;
    max-height: 0;
    transition: max-height $transform-speed ease-out;
    overflow: hidden;

    &.open {
      max-height: 400px;
      transition: max-height $transform-speed ease-in;
    }

    ul {
      font-size: 0.9rem;
      padding: 0 0 0 0.9rem;
      margin: 0;

      li {
        margin: 0 0 0.5rem;
      }
    }
  }
}