.accordion-item {
  border: 1px solid red;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;

  &__heading {
    .item-toggle {
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;

      &__text {
        text-align: left;

        h3 {
          margin: 0;
        }
      }

      svg {
        fill: #333;
        scale: 2;
      }
    }
  }
}